body{
  background-color: ;
}
.imgNav{
  margin-top: -10px;
}
.navbar,.navbar-toggle{
  padding-bottom:15px;
}

#trabalho{
  padding-left: 25%;
  padding-right: 25%;
}

.fe{
  float:left;
  margin-right:10px;
}

.imgServico{
  width:100%;
  height: 310px;;
}

/*tabela*/

table#tabelaspec{
border: 1px solid #606060;
border-spacing: 0px;
margin-bottom: 20px;
}

td{
border: 1px solid #606060;
padding:10px;
}
.centralizar{
  text-align: center;
   background-color: #606060;
   color:#ffffff;
   font-weight: bold;
}

.alinhar{
text-align: center;
}

#alinhar{
  margin-top:-5px;
}

caption{
  color:#888888;
  font-size:  13pt;
  font-weight: bolder;
}

.celulaMaterial{
   color: black;
   vertical-align: top;
   font-weight: bold;
   background: #cecece;
}
.cor1 { background-color:#c9ffae;}
.cor2 {background-color: #ffcAAA;}
.cor3 {background-color: #87CEEB;}
.cor4 {background-color: #f5ff5c;}



/*FRAME*/
@charset "UTF_8";

section#conteudo{
     width: 100%;
     margin: auto;
}

#frame-spec{
    width: 300px;
  height: 450px;
  border: none;
  overflow: hidden;
}


iframe#frame-spec::-webkit-scrollbar{
    display: none;
}

form{
  margin-bottom: 20px;
}

.imagemSeguranca{
  margin-bottom: 20px;
}

/*CARROSSEL*/
.carousel-inner img{
  width:100%;
}
#myCarousel{
width:100%;
}

.central{
margin: 0 auto;
}

.mapa{
 width: 100%;
  height:500px;
  border:0px;

}

.cor{
background:#5cb85c;
border-radius:5px;
}